#mySidenav a {
  position: absolute; 
  left: -80px; 
  transition: 0.3s; 
  padding: 15px; 
  width: 100px; 
  text-decoration: none; 
  font-size: 20px; 
  color: white; 
  border-radius: 0 5px 5px 0; 
}

#mySidenav a:hover {
  left: 0; 
}


#Home {
  top: 20px;
  background-color: #d29ee3;
}

#RedPandas {
  top: 80px;
  background-color: #cc9cdc;
}

#Naomi {
  top: 160px;
  background-color: #be90cd; 
}

#Lattecatgirl {
  top: 220px;
  background-color: #b286c0;
}
