.navbar {
  overflow: hidden;
  background-color: #9994b8;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #6d6699;
  color: white;
}

.Home {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}
.Lattecatgirl {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}
.Naomi {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}
